<div class="book">
    <h3 class="book-title">Listado de libros de la biblioteca!!</h3>
    <div class="book-item" ng-repeat="book in books">
        <figure class="image">
            <img ng-src="{{book.image}}" width="100px" />
        </figure>
        <div class="book-item-description">
            <span class="title" ng-bind="book.title"></span>
            <span class="description" ng-bind="book.description"></span>
            <span class="author">Author:</span><span ng-bind="book.author"></span>
        </div>
        <div class="close">
            <a ng-click="deleteBook(book)">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Add new book
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">New Author</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="title" ng-model="book.title" required />
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="description" ng-model="book.description" required />
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="image" ng-model="book.image" required />
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="author" ng-model="book.author" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="saveBook(book)">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
