<section class="library">
    <div class="library-background">
        <h2>STAY INSPIRED</h2>
    </div>
    <h2 class="library-title">Este es la libreria de la unviserdiad</h2>

    <h4 class="library-subtitle">Seleccione la opción de su preseferencia</h4>

    <div class="library-menu">
        <ul class="menu">
            <li class="menu-item">
                <a href="/books"><i class="fa fa-book fa-lg" aria-hidden="true"></i>Books</a>
            </li>
            <li class="menu-item">
                <a href="/authors"><i class="fa fa-user fa-lg" aria-hidden="true"></i>Authors</a>
            </li>
        </ul>
    </div>
</section>
